<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
    <img ng-src="{{chat.face}}" style="width: 64px; height: 64px">
    <p>
      {{chat.lastText}}
    </p>
  </ion-content>
  <ion-content>
  <fa-app style="height: 100px; width: 100px; position: absolute; left:0; right:0; top:0; bottom:0; margin:auto;">
      <fa-surface fa-background-color="'red'">
        Famo.us, deep in the heart of Ionic.
      </fa-surface>
    </fa-app>
    </ion-content>
</ion-view>

