<style type="text/css" media="screen">
  .col-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 0.25vw;
    -moz-box-flex: 0;
    -moz-flex: 0 0 0.25vw;
    -ms-flex: 0 0 0.25vw;
    flex: 0 0 0.25vw;
    max-width: 0.25vw;
    padding: 0px;
  }

  .col-25 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 24.8125vw;
    -moz-box-flex: 0;
    -moz-flex: 0 0 24.8125vw;
    -ms-flex: 0 0 24.8125vw;
    flex: 0 0 24.8125vw;
    max-width: 24.8125vw;
    padding: 0px;
  }

  div.thumbnailSquare {
    width: 24.8125vw;
    height: 24.8125vw;
    overflow: hidden;
    position: relative;
  }

  div.focusedSquare {
    width: 100vw;
    height: 100vw;
    overflow: hidden;
    position: relative;
  }

  img.crop {
    position: absolute;
    margin: auto; 
    min-height: 100%;
    min-width: 100%;
    /* For the following settings we set 100%, but it can be higher if needed 
    See the answer's update */
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
  } 

  /*override*/
  .row {
    padding: 0px 0px 1.5vw;
  }

  .item {
    border-width: 0px;
    margin: 0px;
  }

  div.slider, div.slider-slides {
    height: 100%;
  }

  ion-slide.slider-slide {
    height: 100%;
  }

  .item-text-wrap {
    padding: 5px 10px 5px;
  }
</style>

<ion-view view-title="{{guide.title}}">
  
  <ion-nav-buttons side="left">
   <button class="button button-clear arrow-back-button" ng-click="myGoBack()">
      <i class="icon ion-arrow-left-c"></i>
   </button>
  </ion-nav-buttons>


  <ion-content scrollbar-x="false" scrollbar-y="false" overflow-scroll="false">    
    <div style="height: 1px"></div>

    <div class="row" ng-repeat="image in images" ng-if="$index % 4 === 0">
        <div class="col col-25 thumbnailSquare" ng-if="$index < images.length" ng-click="goToSlide($index)" type="button">
            <img ng-src="{{images[$index].src}}" width="100%" class="crop"/>
            
        </div>

        <div class="col col-1"></div>
        
        <div class="col col-25 thumbnailSquare" ng-if="$index + 1 < images.length" ng-click="goToSlide($index+1)" type="button">
            <img ng-src="{{images[$index + 1].src}}" width="100%" class="crop"/>
            
        </div>
        
        <div class="col col-1"></div>

        <div class="col col-25 thumbnailSquare" ng-if="$index + 2 < images.length" ng-click="goToSlide($index+2)" type="button">
            <img ng-src="{{images[$index + 2].src}}" width="100%" class="crop"/>
            
        </div>

        <div class="col col-1"></div>

        <div class="col col-25 thumbnailSquare" ng-if="$index + 3 < images.length" ng-click="goToSlide($index+3)" type="button">
            <img ng-src="{{images[$index + 3].src}}" width="100%" class="crop"/>
            
        </div>
    </div>

  </ion-content>

  <ion-footer-bar class="bar bar-footer bar-stable">
    <button class="button button-clear button-primary">
      <i class="ion-ios-list-outline" style="font-size: 30px;"></i>
    </button>
    <h1 class="title">{{guide.steps.length}} Steps</h1>
    <button class="button button-clear button-large button-primary" ng-click="showActionsheet()">
      <i class="ion-more" style="font-size: 30px; padding-right: 8px;"></i>
    </button>
  </ion-footer-bar>

  <script id="templates/guide-modal.html" type="text/ng-template" >
    <ion-modal-view>
      
      <ion-header-bar class="bar bar-header bar-assertive">
        <button class="button button-clear arrow-back-button" ng-click="modal.hide()">
          <i class="icon ion-arrow-left-c"></i>
        </button>
        <h1 class="title">Step {{stepNumber}}</h1>
      </ion-header-bar>

      <ion-content class="guide-step">  
        <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false" >
          <ion-slide ng-repeat="step in guide.steps" scrollbar-x="false" scrollbar-y="false" overflow-scroll="false">
            <div overflow-scroll="true">
              <div class="item-image focusedSquare">
                <img class="crop" src="{{step.picturePath}}">
              </div>

              <div class="item-text-wrap">
                <p>{{step.body}}</p>
              </div>
            </div>
          </ion-slide>
        </ion-slide-box>
      
      </ion-content>

      <ion-footer-bar class="bar bar-footer bar-stable">
        <button class="button button-clear button-primary">
          <i class="ion-ios-list-outline" style="font-size: 30px;"></i>
        </button>
        <h1 class="title"></h1>
        <button class="button button-clear button-primary" ng-click="showActionsheet()">
          <i class="ion-more" style="font-size: 30px; padding-right: 8px;"></i>
        </button>
      </ion-footer-bar>

    </ion-modal-view>
  </script>

</ion-view>
