<ion-view view-title="Howdiy" name="login-view">
  <ion-nav-bar class="bar-assertive">
  </ion-nav-bar>
  <ion-content class="padding">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>
      <button class="button button-block button-positive" ng-click="login(data)">Log In</button>
      <button class="button button-clear button-positive col" ng-click="goSignup()">Sign Up</button>
  </ion-content>
</ion-view>
