<style type="text/css" media="screen">
  .col {
    padding: 0px;
  }  

  .spinner svg {
    stroke: #E9523B;
    fill: #E9523B;
  }

  /*fixes white box around search bar while navigating*/
  [nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar {
    background: #E9523B;
  }

  .button-items .button {
    background-color: #FFF;
  }

  .list {
    margin-bottom: 0px;
  }

  .home-card {
    margin: 0px;
    border-bottom: 1px #EEE solid;
  }

  .home-card > .item-body {
    padding: 0px;
  }

  .home-card > .item-body > .item-body-text {
    padding: 0px 16px 16px;
  }

</style>

<ion-view>
  
  <ion-nav-buttons side="left">
    <button class="button button-clear" ng-click="searchOff()">
      <i ng-class="searchFlag ? 'icon ion-arrow-left-c' : 'icon ion-erlenmeyer-flask light'"></i>
    </button> 
  </ion-nav-buttons>

  <ion-nav-title class="search-bar">
    <div class="bar item-input-inset-opaque search-bar">
      <label class="item-input-wrapper-opaque"  ng-click="searchOn()" style="background-color: rgb(90, 31, 22);">
        <i class="icon ion-ios-search-strong" style="color: #DDD"></i>
        <input type="search" placeholder="Howdiy?" style="color: #DDD;"
        ng-model="query" ng-keyup="search(query)"/>
      </label>
    </div>
  </ion-nav-title>
  
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="searchOff()">
      <i class="icon ion-ios-gear"></i>
    </button> 
  </ion-nav-buttons>
  
  <ion-content overflow-scroll="false" >
    <ion-refresher on-refresh="doRefresh()" pulling-icon="ion-beaker" spinner="crescent" class="assertive"></ion-refresher>

    <div class="list card home-card" ng-repeat="guide in guides track by $index" ng-hide="searchFlag">

        <div class="item item-avatar author-item" ion-affix data-affix-within-parent-with-class="card"
        ng-click="goTo('profile', {username: guide.author})"
        ng-hide="searchFlag">
            <img src="{{bucketURL + 'profilepicture_' + guide.author + '.jpg'}}">

            <h2>{{guide.title}}</h2>

            <p>By: {{guide.author}} {{timeDifference(guide.meta.createDate)}}</p>
        </div>

        <div class="item item-body" ng-click="goTo('guide', {guideId: guide._id})">
            <img class="full-image" ng-src="{{guide.picturePath}}">

            <div class="item-body-text">
              <p>
                {{guide.description}}
              </p>

              <p>
                  <a href="#" class="subdued">{{guide.meta.likes}} Like</a>
                  <a href="#" class="subdued">{{guide.comments.length}} Comments</a>
              </p>
            </div>
        </div>
    </div>


    <div ng-show="searchFlag" class="list">
      <a ng-repeat="result in searchResults" class="item item-thumbnail-left" 
        ng-click="(result.title && goTo('guide', {guideId: '{{result._id}}'})) || 
                  (result.username && goTo('profile', {username: '{{result.username}}'}))">
        <img ng-src="{{result.picturePath || result.profilePicture}}" alt="https://d30y9cdsu7xlg0.cloudfront.net/png/275465-200.png" title="thumbnail" width="100%" class="thumbnailPic"/>
        <h2>{{result.title || result.username}}</h2>
        <p>{{result.author}}</p>
        <p>{{result.description}}</p>
      </a>
    </div>

    <ion-infinite-scroll
    ng-if="!searchFlag && guideIndex > 0"
      on-infinite="loadMore()"
      distance="1%">
    </ion-infinite-scroll>
    
  </ion-content>
</ion-view>
