<style type="text/css" media="screen">
.item-select select
{
  right: auto;
  padding: 13px 45px 15px 0px;
  direction: ltr;
}
</style>

<ion-view>>
  <ion-nav-bar class="bar-assertive">
    <ion-nav-title>
      <i class="icon ion-ios-person-outline"></i> {{username}}
    </ion-nav-title>
  </ion-nav-bar>
  <ion-content class="padding" ng-show="!modal.isShown()">
    <div class="item item-avatar">
      <img src="{{profilePicture}}"> 
      <div class="col col-center">
        <b> {{numberOfGuides}} Guides Submitted</b>
        <button class="button button-small button-assertive" style="float:right" ng-click="editProfile()">
          Edit Profile
        </button>
      </div>
    </div>
  </ion-content>

  <script id="templates/edit-profile.html" type="text/ng-template">
    <ion-header-bar class="bar bar-header bar-assertive">
      <button class="button button-clear button-primary" ng-click="modal.hide()">
        <i class="ion-close"></i>
      </button>
      <h1 class="title">Edit Profile</h1>
      <button class="button button-clear button-primary" side="right">
        <i class="ion-checkmark"></i>
      </button>
    </ion-header-bar>
    <ion-content class="padding">
      <label class="item item-input">
        <span class="input-label">
          <i class="ion-android-person"></i>
        </span>
        <input type="text" ng-readonly="true" value="{{username}}">
      </label>

      <label class="item item-input">
        <span class="input-label">
          <i class="ion-paper-airplane"></i>
        </span>
        <input type="text" placeholder="Website URL" ng-readonly="false" value="{{website}}">
      </label>

      <label class="item item-input">
        <span class="input-label">
          <i class="ion-quote"></i>
        </span>
        <textarea placeholder="Bio">{{bio}}</textarea>
      </label>

      <br><b> Private Information </b>
      <label class="item item-input">
        <span class="input-label">
          <i class="ion-email"></i>
        </span>
        <input type="email" placeholder="Address" ng-readonly="false" value="{{email}}">
      </label>

      <label class="item item-input">
        <span class="input-label">
          <i class="ion-android-phone-portrait"></i>
        </span>
        <input type="tel" placeholder="Add Phone Number" ng-readonly="false" value="{{phone}}">
      </label>

      <div class="list">
        <label class="item item-input item-select">
        <span class="input-label">
          <i class="ion-transgender"></i>
        </span>
        <select>
          <option selected>Not Specified</option>
          <option>Male</option>
          <option>Female</option>
          <option>Attack Helicopter</option>
        </select>
        </label>
      </div>
    </ion-content>
  </script>
</ion-view>
