<style type="text/css" media="screen">
  .item-select select {
    right: auto;
    padding: 13px 45px 15px 0px;
    direction: ltr;
  }

  select {
    margin-left: 45px;
  }

  span.input-label.gender-label {
    margin-right: -130px;
  }

  form {
    text-align: center;
  }

  .profile-pic {
    border-radius: 50%;
  }

  .edit-button {
    width: 100%;
  }

  .active {
    color: #d93218;
  }

  .popup-vertical-buttons button {
    min-width: 100%;
    margin-bottom: 5px;
  }

  .popup-vertical-buttons .popup-buttons {
    display: block;
  }
  .loading{
    background-color: rgba(240, 50, 50, 0.0) !important;
  }
</style>

<ion-view>

  <ion-nav-bar class="bar-assertive">
    <ion-nav-title>
      {{profileInfo.username}}
    </ion-nav-title>
  </ion-nav-bar>

  <ion-nav-buttons side="left">
   <button class="button button-clear arrow-back-button" ng-click="myGoBack()">
      <i class="icon ion-arrow-left-c"></i>
   </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button icon-left ion-log-out button-stable" ng-show="isOwnProfile" ng-click="logout()">Logout</button>
  </ion-nav-buttons>

  <ion-content ng-show="doneLoading" scrollbar-x="false" scrollbar-y="false" overflow-scroll="false">
    <ion-refresher on-refresh="doRefresh()" pulling-icon="ion-beaker" spinner="crescent" class="assertive"></ion-refresher>

    <div class="item item-thumbnail-left">
      <img class="profile-pic" img-load="onProfileLoad()" src="{{profileInfo.profilePicture}}" ng-click="isOwnProfile && showProfilePicturePopup()"> 
      <div class="profile-right">
        <div class="row"><h2> {{profileInfo.submittedGuides.length}} Guides Submitted</h2></div>
        <div class="row"><button class="button button-small button-stable edit-button" style="float:right" 
        ng-click="editProfileModal.show()"
        ng-show="isOwnProfile">
          Edit Profile
        </button></div>

        <div class="row"><button class="button button-small button-stable edit-button" style="float:right" 
        ng-click="follow()"
        ng-show="!isOwnProfile">
          {{followText}}
        </button></div> 
      </div>
    </div>
    
    <div class="button-bar">
      <button class="button" ng-click="showSubmittedGuides()"><i class="icon ion-grid" ng-class="{active: showSubmitted}"></i></button>
      <button class="button" ng-show="isOwnProfile" ng-click="showDraftGuides()"><i class="icon ion-document" ng-class="{active: showDrafts}"></i></button>
      <button class="button" ng-click="showSavedGuides()"><i class="icon ion-ios-heart-outline" ng-class="{active: showSaved}"></i></button>
    </div>
    
    <div ng-show="showSubmitted" class="list">
      <a ng-repeat="thumbnail in submittedThumbnails track by $index" class="item item-thumbnail-left"
      ng-click="goTo('guide', {guideId: '{{thumbnail._id}}'})">
        <img ng-src="{{thumbnail.image}}" alt="test" title="test" width="100%" class="thumbnailPic"/>
        <h2>{{thumbnail.title}} by {{thumbnail.author}}</h2>
        <p>{{thumbnail.description}}</p>
      </a>
    </div>

    <div ng-show="showDrafts" class="list">
      <div ng-repeat="thumbnail in draftThumbnails" class="item item-thumbnail-left" ng-click="editDraft('{{thumbnail._id}}')">
        <img ng-src="{{thumbnail.image}}" alt="test" title="test" width="100%" class="thumbnailPic"/>
        <h2>{{thumbnail.title}} by {{thumbnail.author}}</h2>
        <p>{{thumbnail.description}}</p>
      </div>
    </div>

    <div ng-show="showSaved" class="list">
      <a ng-repeat="thumbnail in savedThumbnails track by $index" class="item item-thumbnail-left" 
      ng-click="goTo('guide', {guideId: '{{thumbnail._id}}'})">
        <img ng-src="{{thumbnail.image}}" alt="test" title="test" width="100%" class="thumbnailPic"/>
        <h2>{{thumbnail.title}} by {{thumbnail.author}}</h2>
        <p>{{thumbnail.description}}</p>
      </a>
    </div>

  </ion-content>

  <script id="templates/edit-profile.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar bar-header bar-assertive">
        <button class="button button-clear arrow-back-button" ng-click="editProfileModal.hide()">
          <i class="icon ion-close"></i>
        </button>
        <h1 class="title">Edit Profile</h1>
        <button class="button button-clear arrow-back-button" ng-click="updateprofileInfo()">
          <i class="icon ion-checkmark"></i>
        </button>
      </ion-header-bar>
      <ion-content class="">
        <label class="item item-input">
          <i class="ion-android-person"></i>
          <input type="text" ng-readonly="true" value="{{username}}">
        </label>

        <label class="item item-input">
          <i class="ion-paper-airplane"></i>
          <input class="websiteText" type="text" placeholder="Website URL" ng-readonly="false" value="{{profileInfo.website}}">
        </label>

        <label class="item item-input">
          <i class="ion-quote"></i>
          <textarea class="bioText" placeholder="Bio" maxlength="160">{{profileInfo.bio}}</textarea>
        </label>

        <br><b> Private Information </b>
        <label class="item item-input">
          <i class="ion-email"></i>
          <input class="emailText" type="email" placeholder="Address" ng-readonly="false" value="{{profileInfo.email}}">
        </label>

        <label class="item item-input">
          <i class="ion-android-phone-portrait"></i> 
          <input class="phoneText" type="tel" placeholder="Add Phone Number" ng-readonly="false" value="{{profileInfo.phone}}">
        </label>

        <div class="list">
          <label class="item item-input item-select">
          <span class="input-label gender-label">
            <i class="ion-transgender"></i>
          </span>
          <select name="genderSelect" ng-model="gender" ng-options="v for v in genderValues" ng-change="changeGenderSelectValue(gender)">
          </select>
          </label>
        </div>

      </ion-content>
    </ion-modal-view>
  </script>
</ion-view>
