<style type="text/css" media="screen">
  .item-select select {
    right: auto;
    padding: 13px 45px 15px 0px;
    direction: ltr;
  }

  select {
    margin-left: 45px;
  }

  span.input-label {
    margin-right: -130px;
  }

  form {
    text-align: center;
  }

  .profile-pic {
    border-radius: 50%;
  }

  .edit-button {
    width: 100%;
  }
</style>

<ion-view>

  <ion-nav-bar class="bar-assertive">
    <ion-nav-title>
      {{username}}
    </ion-nav-title>
  </ion-nav-bar>

  <ion-nav-buttons side="right">
    <button class="button icon-left ion-log-out button-stable" ng-click="logout()">Logout</button>
  </ion-nav-buttons>

  <ion-content scrollbar-x="false" scrollbar-y="false" overflow-scroll="false">
    <div class="item item-thumbnail-left">
      <img class="profile-pic" src="{{profilePicture}}"> 
      <div class="profile-right">
        <div class="row"><h2> {{numberOfGuides}} Guides Submitted</h2></div>
        <div class="row"><button class="button button-small button-stable edit-button" style="float:right" ng-click="editProfile()">
          Edit Profile
        </button></div>      
      </div>
    </div>
    
    <div class="button-bar">
      <button class="button"><i class="icon ion-grid"></i></button>
      <button class="button"><i class="icon ion-document"></i></button>
      <button class="button" ng-click="getSavedGuides()"><i class="icon ion-ios-heart-outline"></i></button>
    </div>
    
    <div ng-show="showSaved" class="list">
      <div ng-repeat="guide in savedGuides" class="item item-thumbnail-left" ng-click="goToGuide({{guide.id}})">
        <img ng-src="{{guide.image}}" alt="test" title="test" width="100%" class="thumbnailPic"/>
        <h2>{{guide.title}}</h2>
        <p>{{guide.description}}</p>
      </div>
    </div>

  </ion-content>

  <script id="templates/edit-profile.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar bar-header bar-assertive">
        <button class="button button-clear arrow-back-button" ng-click="modal.hide()">
          <i class="icon ion-close"></i>
        </button>
        <h1 class="title">Edit Profile</h1>
        <button class="button button-clear arrow-back-button" ng-click="updateUserInfo()">
          <i class="icon ion-checkmark"></i>
        </button>
      </ion-header-bar>
      <ion-content class="">
        <label class="item item-input">
          <i class="ion-android-person"></i>
          <input type="text" ng-readonly="true" value="{{username}}">
        </label>

        <label class="item item-input">
          <i class="ion-paper-airplane"></i>
          <input id="websiteText" type="text" placeholder="Website URL" ng-readonly="false" value="{{website}}">
        </label>

        <label class="item item-input">
          <i class="ion-quote"></i>
          <textarea id="bioText" placeholder="Bio" maxlength="160">{{bio}}</textarea>
        </label>

        <br><b> Private Information </b>
        <label class="item item-input">
          <i class="ion-email"></i>
          <input id="emailText" type="email" placeholder="Address" ng-readonly="false" value="{{email}}">
        </label>

        <label class="item item-input">
          <i class="ion-android-phone-portrait"></i> 
          <input id="phoneText" type="tel" placeholder="Add Phone Number" ng-readonly="false" value="{{phone}}">
        </label>

        <div class="list">
          <label class="item item-input item-select">
          <span class="input-label">
            <i class="ion-transgender"></i>
          </span>
          <select name="genderSelect" ng-model="gender" ng-options="v for v in genderValues" ng-change="changeGenderSelectValue(gender)">
          </select>
          </label>
        </div>

      </ion-content>
    </ion-modal-view>
  </script>
</ion-view>
