<ion-view>
  <ion-nav-bar class="bar-assertive">
    <ion-nav-title>
      <div class="bar item-input-inset-opaque">
        <label class="item-input-wrapper-opaque" >
          <i class="icon ion-ios-search-strong dark"></i>
          <input type="search" placeholder="Search" style="text-align:center;">
        </label>
      </div>
    </ion-nav-title>
  </ion-nav-bar>
  <ion-content class="padding">
    <button class="button button-full button-positive" ng-click="goToGuide(0)">
      Go to db guide
    </button>
  </ion-content>
</ion-view>
