<ion-view view-title="Howdiy">
    <ion-nav-bar class="bar-assertive">
    </ion-nav-bar>
    <ion-nav-buttons side="right">
    <button class="button icon-left ion-log-out button-stable" ng-click="logout()">Logout</button>
  </ion-nav-buttons>

  <ion-content class="padding" delegate-handle="content" overflow-scroll="true">
    <ion-refresher on-refresh="doRefresh()" spinner="ripple" class="assertive"></ion-refresher>
    <div class="row"><div class="col text-center">
      <h3 class="title">Welcome {{username}}!</h3>
      This could be your Dashboard.
      <br><br><br>
      <button class="button button-full button-positive" ng-click="getGuides()">
        Get guides
      </button>
      <button class="button button-full button-energized" ng-click="getUsers()">
        Get users
      </button>
      <button class="button button-full button-assertive" ng-click="printToken()">
        Print token
      </button>
      {{response}}

	  <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
	  <img ng-show="imgURI === undefined" ng-src="http://placehold.it/300x300">
    <button class="button button-full button-calm" ng-click="takePicture()">Take Picture</button>
	  <button class="button button-full button-balanced" ng-click="selImages()" ng-disabled="!ready">Select Images</button>
	  <div ng-repeat="img in images">
		    <img ng-src="{{img}}" />
	  </div>
    <button class="button button-full button-royal" ng-click="uploadPicture()">Test File Upload</button>
  </ion-content>
</ion-view>
