/* Empty. Add your own CSS if you like */
#loading-bar .bar {
  padding: 0.5px;
}

.fade-in {
  -webkit-transform: scale(0.0);
  transform: scale(0.0);
  opacity: 0;
}
.fade-in.ng-enter, .fade-in > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 250ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 250ms;
}
.fade-in.ng-enter-active,
.fade-in > .ng-enter-active {
  -webkit-transform: scale(1.0);
  transform: scale(1.0);
  opacity: 1;
}

.fade-in.ng-leave, .fade-in > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated, .tabs-striped.tabs-stable .tab-item.tab-item-active, .tabs-striped.tabs-stable .tab-item.active, .tabs-striped.tabs-stable .tab-item.activated {
  padding-bottom: 10px;
}


.tabs {
  padding-top: 0px !important; 
  border-top: none !important;
  border-bottom: none;
  background-position: top;
  background-size: 100% 0px !important; 
  background-repeat: no-repeat;
}
